jspm_packages
bower_components
node_modules
/.idea
/tools
/_artifact
/typings
/test
/src
.vscode

.editorconfig
gulpfile.js
jsconfig.json
karma.conf.js
karma-test-shim.js
tsconfig.json
tslint.json
typings.json